@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');


nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10rem;
    color: black;
    font-weight: bold;
    // background-image: linear-gradient(to right, white,black,grey,lightgrey,grey,black,white); 
    background-color: orange;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: $text-font;
}