*{
    padding: 0;
    margin: 0;
}
head{
    min-height: 100%;
}
.title{
    background-image: url(img/background-1.jpg);
   
    background-repeat: no-repeat;
    background-size: 100%;
   }
.box-1{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
}
.box-1 h1{
    color: white;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 4rem;
    padding-bottom: 20px;
}
.box-1 h2{
    color: beige;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 2rem;
    padding-left: 360px;
}
.amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#players{
    padding: 10px;
    margin-top: 10px;
}
h3{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
.btn-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 100px;
    outline-style:none;
   
}
#p1choice{
    color: white; 
    background-color: #27313d;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
}
#p2choice{
    color: white;
    background-color:#4F6955;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
}
.btn-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px; 
    padding-top: 20px;
    padding-bottom: 45px; 
    
}
#play{
    background-color: darkblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
    outline-style:none;
    font-family: 'Liu Jian Mao Cao', cursive;
}
#result{
    font-size: 3rem;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}