/*maken van textboxen*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
	height: auto;
	background-image: url(resources/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
main {
	max-width: 500px;
	margin: 0 auto;
	padding-bottom: 10px;
	background: white; 
	border-radius: 3px; 
	overflow: hidden;
}
h1 {
	font-size: 24px; 
	font-weight: normal;
	background: rgb(37, 30, 68); 
	color: white;
	text-align: center; 
	padding: 20px 0; margin-bottom: 40px;
}
.flp {
	padding: 0 50px;
}
.flp .textbox{
	position: relative;
    margin-bottom: 15px;
}
 
.flp input, .flp label {
	width: 400px;
	display: block;
	font: inherit; 
	font-size: 16px; 
	line-height: 24px;
	height: 46px;
	border: 1px solid #999;
}
.flp input {
	padding: 10px;
	outline: none; 
	border-radius: 3px;
}
.flp label {
	position: absolute; 
	left: 0;
	top: 0;
	padding: 10px 8px;
	border-color: transparent;
	color: #666;
	cursor: text;
}
.ch {
	display: block;
	float: left;
	position: relative; 
	background: white; 
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}
 
.focussed {
	pointer-events: none;
}
/*foutmelding emailadres*/
#novalid{
	background-color: red;
	padding: 1em;
	margin: 1em 0 0 0;
	font-size: 0.5em;
	display: none;
}
#valid{
	background-color: green;
	padding: 1em;
	margin: 1em 0 0 0;
	font-size: 0.5em;
	display: none;
}
#message{
	font-size: 8px;
	text-align: center;
	color: Red;
	padding-bottom: 20px;
}